<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div></div>
  </div>
</template>

<script>
import wiki from 'wikijs';

wiki()
  .page('List of languages by number of native speakers')
  .then(page => page.tables()).then(console.log);

fetch('https://wikimedia.org/api/rest_v1/metrics/editors/aggregate/en.wikipedia/user/content/all-activity-levels/daily/20201010/20211014').then(console.log);

export default {
  name: 'Visualisation',
  data() {
    return {
      msg: 'Languages of editors vs. number of native speakers',
    };
  },
};
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
div {
  background-color: tomato;
}
</style>
